
@keyframes zoomUp {
0% {
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
100% {
  transform: scale(1);
  -webkit-transform: scale(1);
    transform: scale(1);
}
}

img {
  animation: zoomUp 11s linear 0s 1 normal forwards;
}